body {
    background-image: url('wand-hand1.jpg');
    background-repeat: no-repeat;
    background-color: rgb(1, 1, 9);
    
    align-items: center;
    display: block;
    margin-left: 35%;
    margin-right: 35%;
}
h1 {
    block-size: 10;
    color: rgb(252, 252, 251);
    text-align: center;
}

h3 {
    color: rgb(250, 250, 250);
    text-align: center;
}

p{
    font-size: small;
    color: rgb(194, 153, 18);
    text-align: center;
}

img{
    max-width: 80%;
}

button{
    max-width: 30%
}