body {
    background-color: rgb(255, 255, 255);
    
    align-items: center;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
}

h1 {
    block-size: 10;
    color: rgb(29, 82, 45);
    text-align: center;
}

h3 {
    color: black;
    text-align: center;
}

p{
    font-size: medium;
    color: black;
    text-align: center;
}

button{
    max-width: 30%
}

img{
    position: center;
    size: 20%;
    display: block;
    max-width: 50%;
    margin-left: 30%;
    margin-right: 30%;
}